.banner{
    height: 400px;
    background-color: black;
}

.card{
    width: 200px;
    cursor: pointer;
    margin: 0.3rem;


    &:hover{
        transition: transform 0.5s;
        transform: translateY(-10px);
    }
}

.row{
    
    background-color: black;
    padding: 1rem;

   >h2{
    font-weight: 500;
    margin: 0.3rem;
   }

    >div{
        display: flex;
        overflow-x: auto;
        //* it gives a scroll bar after card increases

    }
}